// GOOGLE FONT
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// FONT :: SET
$font : 'Bebas Neue', 'cursive','PT Sans', 'sans-serif';
$font-ptsans: 'PT Sans', 'sans-serif';
$bgdark-white: #0e0e0e;
$font-color : #767676;
$icon-color:  #767676;
$bg-black: #000000;
$color-gold: #b6907e;
$margin0: 0px;
$padding0: 0px;
$border0: 0px;
$inherit-line: inherit;
$list-none: none;
$text-decoration-none : none;
$border-box : border-box;
$no-outline: none;
$realtive: relative;
$absolute: absolute;
$w100: 100%;
$vertical-align-m: middle;
$vertical-align-t: top;
$vertical-align-b: bottom;

$blank: "";
$display-block: block;
$display-inline-block: inline-block;
$display-none: none;
$clear-both: both;
$container-width-1400: 1400px;
$margin-auto: 0px auto;

